@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background:#FFFFFF;
  
}
nav{

  font-family: 'Poppins', sans-serif;
  background: #1b1b1b;
  width:100%;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav #ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav #ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav #ul li a{
 color: white;
  font-weight: 500;
  line-height: 70px;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 15px;
  opacity: 0.8;
  transition-duration: 0.5s;
}
nav #ul li a:hover{
opacity: 1.0;


}
nav #ul #ul li a:hover{
  opacity: 1.0;

}
nav #ul #ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav #ul li .nav_active
{
   text-transform: capitalize;
   border-bottom: 2px solid #e91e63;
   position: relative;
   margin-bottom: 35px;
   opacity: 1.0;
}
nav #ul #ul #ul{
  border-top: none;
}
nav #ul li:hover > #ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav #ul #ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav #ul #ul li a{
  line-height: 50px;
}
nav #ul #ul #ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,.nav_input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 1215px) {
 
  nav #ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, #ul{
    display: none;
  }
  nav #ul li,nav #ul #ul li{
    display: block;
    width: 100%;
  }
  nav #ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav #ul #ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav #ul #ul a{
    padding-left: 40px;
  }
  nav #ul #ul #ul a{
    padding-left: 80px;
  }
  nav #ul #ul #ul li{
    position: static;
  }
  [id^=btn]:checked + #ul{
    display: block;
  }
  nav #ul #ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}





.index_head
{
   position:static;
  margin-left:450px;
}
.index_head .java
{
  position:static;
  border-style: groove;
  border-width: 2px;
  width:45%;
  height:280px;
}

.index_head .python
{
   position:static;
  border-style: groove;
  border-width: 2px;
  width:45%;
  height:280px;
}
.index_head .java h1
{
  font-size:25px;
  font-weight:600;
  text-align:center;
}
.index_head .java p
{
  font-size: 20px;
  text-align: center;
}


.index_head .python p
{
    font-size: 20px;
  text-align: center;
}
.index_head .python h1
{
  font-size:25px;
  font-weight:600;
  text-align:center;
}
.buttonx
{
   height: 50px;
   width: 100px;
   margin-left:38%;
   font-size: 20px;
   border:0;
   background-color: #99A3A4;
   color:black;
   position: static;
}
@media all and (max-width: 1056px) 
{
  .index_head .java
{
  
  width:60%;
 
}

.index_head .python
{
  
  width:60%;
 
}
.index_head
{
   
  margin-left:300px;
}
 


}
@media all and (max-width: 780px) 
{
   .index_head .java
{
  
  width:80%;
 
}

.index_head .python
{
  
  width:80%;
 
}
.index_head
{
   
  margin-left:200px;
}
   

}

@media all and (max-width: 592px) 
{
   .index_head .java
{
  
  width:100%;
 
}

.index_head .python
{
  
  width:100%;
 
}
.index_head
{
   
  margin-left:0px;
}
   

}










